/* @import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap"); */

@font-face {
  font-family: "NHaasGroteskDSPro-65Md";
  src: url("https://db.onlinewebfonts.com/t/c891e94039740e4a24a9f53324fd91be.eot");
  src: url("https://db.onlinewebfonts.com/t/c891e94039740e4a24a9f53324fd91be.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c891e94039740e4a24a9f53324fd91be.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/c891e94039740e4a24a9f53324fd91be.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/c891e94039740e4a24a9f53324fd91be.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/c891e94039740e4a24a9f53324fd91be.svg#NHaasGroteskDSPro-65Md")
      format("svg");
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 100, 100, 100;
  --background: #faf9f6;

  --accent-color: #ea774c;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --flex-gap-md: 1rem;

  --font-size: 2rem;

  --padding-xl: 3rem;
  --padding-md: 1rem;

  --layout-spacing: var(--padding-xl);

  --flex-gap-xxl: 3rem;

  --grid-temlate-layout: 1fr minmax(250px, 300px);
  @media (max-width: 768px) {
    --grid-temlate-layout: 1fr minmax(50px, 150px);
    --layout-spacing: var(--padding-md);
  }
  /* --grid-temlate-layout: 1fr 1fr; */

  --header-nav-height: 8rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "NHaasGroteskDSPro-65Md", sans-serif;

  /* font-family: "Familjen Grotesk", sans-serif; */
  font-size: var(--font-size);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}
