.header {
  top: 0;
  width: 100%;
}

main {
  padding: var(--padding-xl);
}

.logo-text {
  font-size: 8rem;
  font-weight: 700;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr minmax(250px, 300px);
  gap: var(--flex-gap-md);
  padding: var(--flex-gap-md);
  margin-top: 10rem;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sidebar {
  /* background: blue; */
  /* height: 100%; */
  /* position: absolute;
  top: 0;
  right: 0;
  width: 300px; */
}
.sidebar-header {
  position: fixed;
  background: var(--background);
  top: 0;
  z-index: 100;

  &::after {
    content: "";
    width: 70%;
    height: 1px;
    background-color: grey;
    margin: auto;
    margin-top: var(--flex-gap-md);
    z-index: 110;
  }
}
.side-bar-scroll-section {
  height: 100%;
  /* overflow: hidden; */
  /* position: relative; */
  /* background: red; */
}

.sticky-container {
  height: 900px;
  z-index: 1;
  /* overflow: hidden; */
}
/* .content {
  height: 1500px;
  background-color: #ccc;
} */
.sticky-header-custom {
  position: sticky;
  top: 15rem;
  background-color: #f9f9f9;
  padding: 10px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  z-index: -1;
  opacity: 0.7;
}
.nav {
  position: -webkit-sticky;

  /* padding: var(--padding-md); */
  padding: var(--padding-xl);
  /* background: var(--background); */
  /* opacity: 0.4; */
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  place-items: center;
  gap: var(--flex-gap-md);
  a {
    text-align: center;
  }
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  gap: var(--flex-gap-md);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 400px));
  place-items: end center;
  gap: var(--flex-gap-md);
  padding: var(--flex-gap-md);

  .image {
    width: 100%;
    object-fit: cover;
  }
}

footer {
  padding-top: var(--padding-xl);
}
