.header {
  top: 0;
  width: 100%;
  padding: var(--layout-spacing);
  @media (max-width: 768px) {
    padding: var(--layout-spacing);
  }
}

.logo-text {
  font-size: 8rem;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

main {
  padding: var(--layout-spacing);
}

.header-nav {
  .nav {
    padding: var(--layout-spacing);
    padding-right: 0;
    .image {
      width: 100%;
      object-fit: cover;
    }
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
  .mobile {
    display: none;
    @media (max-width: 768px) {
      display: block;
      background-color: transparent;
    }
  }
}

.header-nav[data-is-visible="true"] {
  .sidebar-title {
    height: 100%;
    opacity: 1;
    @media (max-width: 768px) {
      /* font-size: 2.5rem; */
    }
  }
}

.logo {
  color: var(--accent-color);
}
.main-grid {
  display: grid;
  grid-template-columns: var(--grid-temlate-layout);
  gap: var(--flex-gap-md);
  padding: var(--layout-spacing);
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.layout-grid {
  display: grid;
  grid-template-columns: var(--grid-temlate-layout);
  z-index: 100;
  @media (max-width: 768px) {
    width: 100%;
    .sidebar-title {
      text-align: center;
      /* font-size: 4rem; */
    }
    .sidebar-text {
      display: none;
    }
  }
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sidebar {
  @media (max-width: 768px) {
    display: none;
  }
}

.side-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: var(--layout-spacing);
  padding-left: 0;
  padding-bottom: 0;
  background-color: var(--background);

  .sidebar-title {
    /* font-size: 1.8rem; */
  }
  &::after {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background-color: grey;
    margin: auto;
    margin-top: var(--flex-gap-md);
    z-index: 140;
  }
}

@media (max-width: 768px) {
  .side-header::after {
    display: none;
  }
}
.side-bar-scroll-section {
  height: 100%;
}

.home-layout-wrapper:has([data-is-visible="true"]) {
  .sidebar-title {
    display: block;
    opacity: 1;
    font-size: 4rem;
    height: 100%;
    @media (max-width: 769px) {
      font-size: 1.8rem;
    }
  }
}

.sidebar-title {
  opacity: 0;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
  font-size: 4rem;
  @media (max-width: 769px) {
    font-size: 1.8rem;
  }
}

.sticky-container {
  height: 500px;
  z-index: 1;
  /* overflow: hidden; */
}

.sticky-scroll {
  position: sticky;
  top: 15rem;
  background-color: #f9f9f9;
  padding: 10px;
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  z-index: -1;
  opacity: 0.7;
}

.nav {
  position: -webkit-sticky;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  /* place-content: center;
  place-items: center; */
  gap: var(--flex-gap-md);
  a {
    text-align: center;
  }
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  padding: var(--layout-spacing);
  gap: var(--flex-gap-md);
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-gap-md);
  row-gap: var(--flex-gap-xxl);
  justify-content: start;
  align-items: end;
  [data-full-width="true"] {
    width: 100%;
    /* display: none; */
  }
  :nth-child(3) {
    justify-self: end end;
    margin-left: auto;
  }
  /* :nth-child(4) {
    width: 100% !important;
  } */
  :nth-child(5) {
    /* width: 100% !important; */
  }
  :nth-child(6) {
    width: 100% !important;
  }
  :nth-child(6) {
    justify-self: end end;
    margin-left: auto;
  }
  :nth-child(7) {
    margin-left: auto;
  }
  :nth-child(9) {
    width: 100% !important;
  }

  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  place-items: end center;
  gap: var(--flex-gap-md);
  padding: var(--flex-gap-md); */
  .image {
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
.image-grid-mobile {
  display: none;
  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--flex-gap-xxl);
  }
  .image-container {
    width: 100%;
  }
  .image {
    width: 100%;
    object-fit: cover;
  }
}
footer {
  padding: var(--layout-spacing);
  padding-top: 0;
  font-size: 2.5rem;
  font-weight: 700;
  .info {
    display: grid;
    place-items: end;
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.side-bar-footer {
}

.mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
