.header {
  top: 0;
  width: 100%;
  padding: var(--padding-xl);
}

main {
  padding: var(--padding-xl);
}
.header-nav {
  /* padding: var(--padding-xl); */
  .nav {
    padding: var(--padding-xl);
    padding-right: 0;
  }
}
.logo-text {
  font-size: 8rem;
  font-weight: 700;
}

.main-grid {
  display: grid;
  grid-template-columns: var(--grid-temlate-layout);
  gap: var(--flex-gap-md);
  padding: var(--flex-gap-md);
  /* margin-top: 10rem; */
}

.layout-grid {
  display: grid;
  grid-template-columns: var(--grid-temlate-layout);
  z-index: 100;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sidebar {
}

.side-header {
  background: var(--background);
  z-index: 100;
  height: 100%;
  padding: var(--padding-xl);
  padding-left: 0;
  padding-bottom: 0;

  &::after {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background-color: grey;
    margin: auto;
    margin-top: var(--flex-gap-md);
    z-index: 140;
  }
}
.side-bar-scroll-section {
  height: 100%;
}

.sticky-container {
  height: 500px;
  z-index: 1;
  /* overflow: hidden; */
}

.sticky-scroll {
  position: sticky;
  top: 13rem;
  background-color: #f9f9f9;
  padding: 10px;
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-nav-height);
  background: var(--background);
  z-index: -1;
  opacity: 0.7;
}

.nav {
  position: -webkit-sticky;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  /* place-content: center;
  place-items: center; */
  gap: var(--flex-gap-md);
  a {
    text-align: center;
  }
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  gap: var(--flex-gap-md);
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-gap-md);
  row-gap: var(--flex-gap-xxl);
  justify-content: start;
  align-items: end;
  :nth-child(3) {
    justify-self: end end;
    margin-left: auto;
  }
  :nth-child(6) {
    justify-self: end end;
    margin-left: auto;
  }
  :nth-child(10) {
    width: 100%;
  }
  :nth-child(10) {
    margin-left: auto;
  }
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  place-items: end center;
  gap: var(--flex-gap-md);
  padding: var(--flex-gap-md); */

  .image {
    width: 100%;
    object-fit: cover;
  }
}

footer {
  padding: var(--padding-xl);
  padding-top: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.side-bar-footer {
}
